html, body, ul{
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
    font-size: 14px;

}
body{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 1200px;
    width: 800px;
    background-color: #eeeeee;
    padding-left: 400px;
    padding-right: 400px;

}
#container{
    width: 730px;
    height: 650px;
    background-color: #eeeeee;
    border: 10px solid #d3d3d3;

}
#container .contact{
    display: flex;

}
#container .contact li{
    padding-top: 80px;
    padding-left: 250px;


    list-style-type: none;
}
#container .contact>ul>li{
    float: left;
    width: fit-content;
    font-weight: bold;
    font-size: 45px;
}

#entername {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 83px;
    background-color: red;
    border: 1px solid #f3f3f3;
    border-radius: 10px;


}
#entername .Name li{
    list-style-type: none;
}
#entername .Name>ul>li{
    font-weight: bolder;
    font-size: 30px;



}


